.practice-page {
	width: 100vw;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: grid;
	grid-template-columns: 72px repeat(36, 1fr) 72px;
	grid-template-rows: 90px repeat(18, 1fr) 66px;
	z-index: -1;
	@include responsive(600) {
		grid-template-columns: 36px repeat(36, 1fr) 36px;
	}
	@include responsive(500) {
		grid-template-columns: 18px repeat(36, 1fr) 18px;
	}
}

.question-practice {
	grid-column: 8/30;
	grid-row: 2/5;
	width: 70.45vw;
	height: 28px;
	font-size: 24px;
	font-weight: 500;
	font-style: italic;
	justify-self: start;
	align-self: center;
	transform: translateY(2px);
	@include responsive(1100) {
		font-size: 22px;
	}
	@include responsive(900) {
		font-size: 22px;
	}
	@include responsive(900) {
		font-size: 18px;
		grid-column: 2/ 38;
		grid-row: 3/6;
		width: 80vw;
		justify-self: center;
		text-align: center;
	}
	@include responsive(700) {
		font-size: 16px;
		grid-row: 3/6;
	}
	@include responsive(500) {
		font-size: 13px;
		grid-row: 3/5;
	}
}

.practice-solutions {
	grid-column: 8/30;
	grid-row: 4/17;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;

	align-items: start;
	z-index: 1;

	@include responsive(900) {
		font-size: 18px;
		grid-column: 2/ 38;
		grid-row: 6/16;
		width: 100%;
		justify-self: center;
		align-items: center;
	}
}

.practice-solution {
	@include solution;
}

.practice-solution-red {
	@include solution;
	background-color: red;
}

.practice-solution-green {
	@include solution;
	background-color: green;
}

.player-practice {
	width: 150px;
	height: auto;
	grid-column: 19/22;
	grid-row: 15/19;
	justify-self: center;
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	// @include responsive(1100) {
	// 	grid-column: 2/37;
	// 	grid-row: 15/20;
	// }
	@include responsive(500) {
		grid-column: 2/37;
		grid-row: 18/19;
	}
}

.player-arrow {
	width: 220px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

#practice-solution {
	width: auto;
	font-size: 16px;
	font-weight: 500;
	justify-self: center;
	align-self: center;
	color: black;
	@include responsive(700) {
		font-size: 14px;
	}
	@include responsive(370) {
		font-size: 11px;
	}
	&:hover {
		border-bottom: 2px black solid;
		padding-bottom: 0px;
	}
}

#arrow-left-page {
	margin-right: 24px;
	@include responsive(700) {
		transform: scale(0.9);
	}
	@include responsive(700) {
		transform: scale(0.8);
	}
	@include responsive(370) {
		transform: scale(0.7);
	}
	&:hover {
		transform: scale(1.1);
		@include responsive(370) {
			transform: scale(0.9);
		}
	}
}

#arrow-right-page {
	margin-left: 24px;
	@include responsive(700) {
		transform: scale(0.9);
	}
	@include responsive(700) {
		transform: scale(0.8);
	}

	@include responsive(370) {
		transform: scale(0.7);
	}

	&:hover {
		transform: scale(1.1);
		@include responsive(370) {
			transform: scale(0.9);
		}
	}
}

.stop-btn {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	margin-top: 6px;
	color: inherit;
	text-decoration: inherit;
	@include responsive(370) {
		margin-top: 8px;
	}
	& span {
		font-size: 14px;
		color: #d8d8d8;
		margin-left: 8px;
		@include responsive(370) {
			font-size: 12px;
		}
	}
	&:hover {
		transform: scale(1.4);
	}
}

.level-practice {
	grid-column: 2/4;
	grid-row: 4/17;
	align-self: start;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: start;
	@include responsive(900) {
		flex-direction: row-reverse;
		grid-column: 2/38;
		grid-row: 2/4;
		align-self: center;
		justify-self: center;
	}
	@include responsive(370) {
		grid-row: 2/3;
	}
	& span {
		font-size: 28px;
		font-weight: 500;
		margin-bottom: 16px;
		color: #d8d8d882;
		@include responsive(900) {
			font-size: 22px;
			margin-right: 18px;
		}

		// @include responsive(500) {
		// 	font-size: 16px;
		// 	margin-right: 6px;
		// }
		@include responsive(700) {
			font-size: 15px;
			margin-right: 6px;
		}

		@include responsive(370) {
			font-size: 12px;
			margin-right: 6px;
		}
		&:hover {
			color: black;
		}
		&:active {
			transform: scale(1.1);
		}
		&::after {
		}
	}
}
#native {
	justify-self: start;
	align-self: start;
	font-size: 24px;
	@include responsive(700) {
		font-size: 15px;
	}
	@include responsive(370) {
		font-size: 12px;
	}
	// @include responsive(320) {
	// 	font-size: 12px;
	// }
}

// #A1 {
//     color: black;
// }

.score-test {
	grid-column: 35/38;
	grid-row: 4/15;
	align-self: start;
	display: flex;
	flex-direction: column;
	@include responsive(900) {
		flex-direction: row-reverse;
		grid-column: 2/38;
		grid-row: 16/18;
		align-self: center;
		justify-self: center;
	}

	& span {
		font-size: 28px;
		font-weight: 500;
		margin-bottom: 16px;
		color: #d8d8d882;
		text-align: end;
		@include responsive(900) {
			width: 40px;
			margin: 0 12px;
	
			align-self: center;
		}
		&:hover {
			color: black;
		}
		&:active {
			transform: scale(1.1);
		}
		&::after {
		}
	}
	#global-time-score {
		text-align: end;
	}
}

#title-time-score {
	@include responsive(900) {
		padding: 0px 20px;
		order: 1;
	}
}

#global-time-score {
	@include responsive(900) {
		width: 80px;
		padding: 0px 20px;
	}
	@include responsive(370) {
		font-size: 18px;
	}
}

#global-time-score {
	@include responsive(900) {
		order: 3;
		padding: 0px 20px;
	}
}

#points-score {
	@include responsive(900) {
		width: 80px;
		padding: 0px 20px;
	}
	@include responsive(370) {
		font-size: 18px;
	}
}

#title-time-score {
	@include responsive(900) {
		order: 3;
	}
}

#title-level {
	font-size: 12px;
	color: black;
	@include responsive(900) {
		font-size: 16px;
		order: 2;
		align-self: center;
	}
	@include responsive(700) {
		font-size: 13px;
		order: 2;
		align-self: center;
	}
	@include responsive(370) {
		font-size: 12px;
		order: 2;
		align-self: center;
	}
}

#title-time-score {
	font-size: 12px;
	color: black;
}

.player-test {
	width: 150px;
	height: auto;
	grid-column: 18/22;
	grid-row: 17/20;
	justify-self: center;
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@include responsive(900) {
		grid-row: 18/20;
	}
}

#question-number-test {
	width: auto;
	font-size: 16px;
	font-weight: 500;
	justify-self: center;
	align-self: center;
	color: black;
	@include responsive(370) {
		font-size: 11px;
	}
}

.stop-btn-test {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	margin-top: 12px;
	color: inherit;
	text-decoration: inherit;
	
	& span {
		font-size: 14px;
		color: #d8d8d8;
		margin-left: 12px;
		@include responsive(370) {
			font-size: 11px;
		}
	}
	&:hover {
		transform: scale(1.4);
	}
}

.start-mode {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100vh;
	background-color: black;
	opacity: 0.3;
	z-index: -1;
}
