.practice-page {
    width: 100%;
    height: 69.4rem;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 72px repeat(36, 1fr) 72px;
    grid-template-rows: 90px repeat(18, 1fr) 66px;
}

.question-practice {
    grid-column: 9/ 30;
    grid-row: 3/4;
    width: 776px;
    height: 28px;
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
    justify-self: start;
    align-self: start;
}

.practice-solutions {
    grid-column: 9/ 30;
    grid-row: 6/18;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;


}

.practice-solution1 {
    width: 776px;
    height: 84px;
    margin-bottom: 18px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border: 1px  hsla(300, 4%, 89%, 0.150) solid;
    & img {
        width: 55px;
        height: 84px;
        margin-right: 18px;
        justify-self: start;
        transform: translateX(-8px);
    }
    & span {
        margin-left: 18px;
        font-size: 20px;
        width: 668px;
    }
    &:hover {
        transform: scale(1.02);

    }
}

.practice-solution2 {
    width: 776px;
    height: 84px;
    margin-bottom: 18px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border: 1px  hsla(300, 4%, 89%, 0.150) solid;
    & img {
        width: 55px;
        height: 84px;
        margin-right: 18px;
        justify-self: start;
        transform: translateX(-8px);
    }
    & span {
        margin-left: 18px;
        font-size: 20px;
        width: 668px;
    }
    &:hover {
        transform: scale(1.02);

    }
}


.practice-solution3 {
    width: 776px;
    height: 84px;
    margin-bottom: 18px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border: 1px  hsla(300, 4%, 89%, 0.150) solid;
    & img {
        width: 55px;
        height: 84px;
        margin-right: 18px;
        justify-self: start;
        transform: translateX(-8px);
    }
    & span {
        margin-left: 18px;
        font-size: 20px;
        width: 668px;
    }
    &:hover {
        transform: scale(1.02);

    }
}

.practice-solution4 {
    width: 776px;
    height: 84px;
    margin-bottom: 18px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border: 1px  #e4e2e426 solid;
    & img {
        width: 55px;
        height: 84px;
        margin-right: 18px;
        justify-self: start;
        transform: translateX(-8px);
    }
    & span {
        margin-left: 18px;
        font-size: 20px;
        width: 668px;
    }
    &:hover {
        transform: scale(1.02);

    }
}

.player-practice {
    width: 150px;
    height: auto;
    grid-column: 18/22;
    grid-row: 19/21;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-arrow {
    width: 220px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#practice-solution {
    width: auto; 
    font-size: 16px;
    font-weight: 500;
    justify-self: center;
    align-self: center;

    color: black;
    &:hover{
        border-bottom: 2px black solid;
        padding-bottom: 0px;
    }
}

#arrow-left-page {

    &:hover {
        transform: scale(1.1);
    }
}

#arrow-right-page {
    &:hover {
        transform: scale(1.1);
    }
}

.stop-btn {
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items: center;
    margin-top: 6px;
    & span { font-size: 14px;
    color: #D8D8D8;
    margin-left: 8px;
    }
    &:hover {
        transform: scale(1.4)
    }
}

.level-practice {
    grid-column: 2/4;
    grid-row: 3/20;
    align-self: start;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    & span {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 16px;
        color: #d8d8d882;

    &:hover {
        color: black;
    }
    &:active {
        transform: scale(1.1);
    }
    &::after{

    }
}
}
#native {
    justify-self: start;
    align-self: start;
    font-size: 24px;
}

#A1 {
    color: black;
}


.score-practice {
    grid-column: 37/38;
    grid-row: 5/20;
    align-self: start;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    & span {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 16px;
        color: #d8d8d882;

    &:hover {
        color: black;
    }
    &:active {
        transform: scale(1.1);
    }
    &::after{

    }
}
}

#title-level {
    font-size: 12px;
    color: black;
}

#title-time-score {
    font-size: 12px;
    color: black;
}




.player-test {
    width: 150px;
    height: auto;
    grid-column: 18/22;
    grid-row: 19/21;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#question-number-test {
    width: auto; 
    font-size: 16px;
    font-weight: 500;
    justify-self: center;
    align-self: center;
    color: black;
}

.stop-btn-test {
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items: center;
    margin-top: 12px;
    & span { font-size: 14px;
    color: #D8D8D8;
    margin-left: 12px;
    }
    &:hover {
        transform: scale(1.4)
    }
}