
#central-window {
    width: 520px;
    height: auto;
    margin-right: 48px;
    box-shadow:
    0 2.7px 2.2px rgba(0, 0, 0, 0.017),
    0 6.4px 5.3px rgba(0, 0, 0, 0.024),
    0 12px 10px rgba(0, 0, 0, 0.03),
    0 21.4px 17.9px rgba(0, 0, 0, 0.036),
    0 40.1px 33.4px rgba(0, 0, 0, 0.043),
    0 96px 80px rgba(0, 0, 0, 0.06)
  ;
}

#central-catchphrase {
    width: 480px;
    height: 360px;
    grid-column: 20/36;
    grid-row: 3/4;
  & h1 {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -1.2px;
  }
  & h2 {
    font-size: 23px;
    font-weight: 300;
    margin-top: 24px;
    }
}

.central-language-selection {
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: start;
    margin-top: 72px;
}

#language-catchphrase {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}

.btn-language { 
    width: 87px;
    height: 22px;
    margin-left: 12px;    
    transform: translateY(2px);
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 2px rgba(0, 0, 0, 0.8) solid;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 99;
    img { 
        width: 8px;
        height: auto;
        margin-bottom: 4px;
        z-index: 99;
    }
    &:hover {
        border-bottom: none;
        height: auto;
        z-index: 99;
        & img {
            transform: rotate(90deg);
            width: 8px;
            margin-top: 4px;
        }
    }
}

.language-selection {
    width: 120px;
    display: flex;
    color: hsla(300, 4%, 89%, 0.80) ;
    position: fixed;
    top: 0px;
    left: 12px;
    display: flex;
    flex-direction: column;
    background-color: none;
    z-index: 99;
    
    & span {
    display: none;
    font-size: 15px;
    font-weight: 400;
    margin-left: 6px;
    margin-bottom: 16px;
    z-index: 99;
    &:hover {
        font-weight: 500;
    }
    }
    &:hover, :active  {
    display: flex;
    color: black;
    position: fixed;
    top: 0px;
    left: 12px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 99;
    & span { 
        display: flex;

    }
    }
}

.language-selection :first-child {
    display: block;
    color: black;
    background-color: none;
}



.central-buttons {
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: start;
    margin-top: 36px;
}


.button-practice {
    width: 120px;
    height: 40px;
    border: 2px black solid;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    margin-right: 18px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: inherit;
    &:hover{
        background-color: black;
        color: white;
        border: 2px rgb(255, 255, 255) solid;
    }
}

.button-test {
    width: 120px;
    height: 40px;
    background-color: #FFEF29;
    border: 2px #FFEF29 solid;
    color: black;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: inherit;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    &:hover{
        background-color: black;
        color: white;
        border: 2px rgb(255, 255, 255) solid;
    }
}
