.admin-container {
	width: 100%;
	height: auto;
	z-index: 1;
	display: grid;
	// grid
	justify-items: center;
	align-items: center;
	grid-template-columns: 72px repeat(2, 1fr) 72px;
	grid-template-rows: 90px 72px 60px auto 66px;
	@include responsive(600) {
		grid-template-columns: 36px repeat(36, 1fr) 36px;
	}
	@include responsive(500) {
		grid-template-columns: 18px repeat(36, 1fr) 18px;
	}
}

.admin-select {
	width: 100%;
	font-size: 18px;
	grid-column: 2/4;
	grid-row: 2/3;
	display: flex;
	flex-flow: row nowrap;
	// flex
	justify-content: center;
	z-index: 5;

	& a {
		text-decoration: none;
		color: black;
		margin: 24px 12px 24px 12px;
		&:hover {
			border-bottom: 2px black solid;
		}
	}
}
.admin-filter {
	grid-column: 2/4;
	grid-row: 3/4;
	position: relative;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	// flex adjustments
	justify-content: space-between;
}

.table-questions {
	width: 100%;
	height: auto;
	grid-column: 2/4;
	grid-row: 4/5;
	border-spacing: 0px;

	& thead,
	tbody {
		width: 100%;
	}

	& th {
		line-height: 48px;
		font-size: 14px;
		font-weight: 400;
		border: 1px hsla(300, 4%, 89%, 0.2) solid;
	}
	& tr,
	td {
		line-height: 72px;
		font-size: 14px;
		font-weight: 300;
		border: 1px hsla(300, 4%, 89%, 0.2) solid;
		text-align: center;
		& button {
			margin: auto;
		}
	}
}

.admin-edit {
	width: 100%;
	grid-column: 2/4;
	grid-row: 2/5;
	& h1 {
		padding: 36px 0 12px 0;
	}
	& label {
		width: 100%;
		line-height: 42px;
		font-size: 16px;
		font-weight: 500;
		text-transform: capitalize;
	}
	& input {
		width: 100%;
		line-height: 24px;
		font-size: 16px;
		font-weight: 300;
		border: none;
		outline: none;
		padding: 12px;
		border: 1px hsla(300, 4%, 89%, 0.2) solid;
	}
}

.admin-new {
	width: 100%;
	grid-column: 2/4;
	grid-row: 2/5;
	display: grid;
	grid-template-columns: 6fr;
	grid-template-rows: 26fr;

	& h1 {
		padding: 12px 0 12px 0;
	}
	& label {
		width: auto;
		line-height: 42px;
		font-size: 16px;
		font-weight: 500;
	}
	& input {
		width: 100%;
		line-height: 24px;
		font-size: 16px;
		font-weight: 300;
		border: none;
		outline: none;
		padding: 12px;
		border: 1px hsla(300, 4%, 89%, 0.2) solid;
	}
}

.new-title-zone {
	display: flex;
	flex-flow: row nowrap;
	grid-column: 1/2;
	grid-row: 1/2;
	justify-content: flex-start;
	align-items: center;
}

#new-back {
	margin-left: 24px;
	align-self: center;
}

#new-title {

}

.new-type {
	grid-column: 1/2;
	grid-row: 3/4;
}

.new-type-input {
	grid-column: 1/2;
	grid-row: 4/5;
}

.new-level {
	grid-column: 3/4;
	grid-row: 3/4;
}
.new-level-input {
	grid-column: 3/4;
	grid-row: 4/5;
}

.new-answer {
	grid-column: 5/6;
	grid-row: 3/4;
}

.new-answer-input {
	grid-column: 5/6;
	grid-row: 4/5;
}

.new-question {
	grid-column: 1/6;
	grid-row: 5/6;
}
.new-question-input {
	grid-column: 1/6;
	grid-row: 6/7;
}

.new-solution1 {
	grid-column: 1/6;
	grid-row: 8/9;
}

.new-solution1-input {
	grid-column: 1/6;
	grid-row: 10/11;
}

.new-solution2 {
	grid-column: 1/6;
	grid-row: 12/13;
}

.new-solution2-input {
	grid-column: 1/6;
	grid-row: 14/15;
}

.new-solution3 {
	grid-column: 1/6;
	grid-row: 16/17;
}

.new-solution3-input {
	grid-column: 1/6;
	grid-row: 18/19;
}

.new-solution4 {
	grid-column: 1/6;
	grid-row: 20/21;
}

.new-solution4-input {
	grid-column: 1/6;
	grid-row: 22/23;
}

.btn-new {
	grid-column: 1/2;
	grid-row: 22/24;
}
