.admin-container {
	width: 100%;
	height: auto;
	z-index: 1;
	display: grid;
	// grid
	justify-items: center;
	align-items: center;
	grid-template-columns: 72px repeat(2, 1fr) 72px;
	grid-template-rows: 90px 72px 60px auto 66px;
	@include responsive(600) {
		grid-template-columns: 36px repeat(36, 1fr) 36px;
	}
	@include responsive(500) {
		grid-template-columns: 18px repeat(36, 1fr) 18px;
	}
}

.admin-select {
	width: 100%;
	font-size: 18px;
	grid-column: 2/4;
	grid-row: 2/3;
	display: flex;
	flex-flow: row nowrap;
	// flex
	justify-content: center;
	z-index: 5;

	& a {
		text-decoration: none;
		color: black;
		margin: 24px 12px 24px 12px;
		&:hover {
			border-bottom: 2px black solid;
		}
	}
}
.admin-filter {
	grid-column: 2/4;
	grid-row: 3/4;
	position: relative;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	// flex adjustments
	justify-content: space-between;
}

.table-questions {
	width: 100%;
	height: auto;
	grid-column: 2/4;
	grid-row: 4/5;
	border-spacing: 0px;

	& thead,
	tbody {
		width: 100%;
	}

	& th {
		line-height: 48px;
		font-size: 14px;
		font-weight: 400;
		border: 1px hsla(300, 4%, 89%, 0.2) solid;
	}
	& tr,
	td {
		line-height: 72px;
		font-size: 14px;
		font-weight: 300;
		border: 1px hsla(300, 4%, 89%, 0.2) solid;
		text-align: center;
		& button {
			margin: auto;
		}
	}
}

.admin-edit {

	grid-column: 2/4;
	grid-row: 2/3;

}