.slide {
	height: auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	z-index: -1;
	& img {
		z-index: -1;
	}	

	@include responsive(900) {
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}
}

#central-window {
	width: 520px;
	height: auto;
	margin-right: 48px;
	z-index: 12;
	box-shadow: 0 2.7px 2.2px rgba(0, 0, 0, 0.017),
		0 6.4px 5.3px rgba(0, 0, 0, 0.024), 0 12px 10px rgba(0, 0, 0, 0.03),
		0 21.4px 17.9px rgba(0, 0, 0, 0.036),
		0 40.1px 33.4px rgba(0, 0, 0, 0.043), 0 96px 80px rgba(0, 0, 0, 0.06);

	& img {
		z-index: 2;
	}
	@include responsive(1300) {
		width: 460px;
	}
	@include responsive(1200) {
		width: 440px;
	}
	@include responsive(1100) {
		width: 380px;
	}
	@include responsive(900) {
		width: 460px;
		margin-top: 36px;
		margin-bottom: 12px;
		margin-right: 0px;
	}
	@include responsive(700) {
		width: 420px;
		margin-top: 36px;
		margin-bottom: 24px;
		margin-right: 0px;
	}
	@include responsive(600) {
		width: 380px;
		margin-top: 36px;
		margin-bottom: 12px;
		margin-right: 0px;
	}
	@include responsive(500) {
		width: 260px;
		margin-top: 24px;
		margin-bottom: 48px;
		margin-right: 0px;
	}
	@include responsive(375) {
		width: 240px;
		margin-top: 12px;
		margin-bottom: 36px;
	}
	@include responsive(320) {
		width: 220px;
		margin-top: 0px;
		margin-bottom: 24px;
	}

}

#central-window2 {
	width: 520px;
	height: auto;
	margin-right: 48px;
	z-index: 2;
	& img {
		z-index: 2;
	}
	@include responsive(1300) {
		width: 460px;
	}
	@include responsive(1200) {
		width: 440px;
	}
	@include responsive(1100) {
		width: 380px;
	}
	@include responsive(900) {
		width: 460px;
		margin-top: 36px;
		margin-bottom: 12px;
		margin-right: 0px;
	}
	@include responsive(700) {
		width: 420px;
		margin-top: 36px;
		margin-bottom: 24px;
		margin-right: 0px;
	}
	@include responsive(600) {
		width: 380px;
		margin-top: 36px;
		margin-bottom: 12px;
		margin-right: 0px;
	}
	@include responsive(500) {
		width: 260px;
		margin-top: 24px;
		margin-bottom: 48px;
		margin-right: 0px;
	}
	@include responsive(375) {
		width: 240px;
		margin-top: 12px;
		margin-bottom: 36px;
	}
	@include responsive(320) {
		width: 220px;
		margin-top: 0px;
		margin-bottom: 24px;
	}
}

#central-catchphrase {
	width: 480px;
	height: 360px;
	@include responsive(1200) {
		width: 360px;
		height: 320px;
	}
	@include responsive(1100) {
		width: 280px;
		height: 420px;
		margin-top: 72px;
	}
	@include responsive(900) {
		width: 380px;
		height: 120px;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		margin-top: 24px;
	}
	@include responsive(500) {
		width: 280px;
		height: 80px;
		margin-top: 12px;
	}
	@include responsive(320) {
		width: 220px;
		height: 80px;
	}

	& h1 {
		font-size: 36px;
		font-weight: 600;
		letter-spacing: -1.2px;
		white-space: nowrap;
		@include responsive(1300) {
			font-size: 34px;
		}
		@include responsive(1200) {
			font-size: 32px;
		}
		@include responsive(1100) {
			font-size: 26px;
			margin-top: 48px;
		}
		@include responsive(900) {
			margin-top: 72px;
		}
		@include responsive(700) {
			margin-top: 72px;
		}
		@include responsive(500) {
			font-size: 18px;
			margin-top: 72px;
		}
		@include responsive(375) {
			font-size: 14px;
			margin-top: 72px;
		}
	}
	& h2 {
		font-size: 23px;
		font-weight: 300;
		margin-top: 24px;
		white-space: nowrap;
		@include responsive(1300) {
			font-size: 23px;
		}
		@include responsive(1200) {
			font-size: 22px;
		}
		@include responsive(1100) {
			font-size: 18px;
			margin-top: 0;
		}
		@include responsive(500) {
			font-size: 16px;
		}
		@include responsive(375) {
			font-size: 12px;
		}
	}
}

.central-language-selection {
	width: auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: start;
	align-items: start;
	margin-top: 72px;
	@include responsive(1100) {
		margin-top: 72px;
	}
	@include responsive(900) {
		margin-top: 24px;
	}
	@include responsive(700) {
		margin-top: 24px;
	}
	@include responsive(500) {
		margin-top: 24px;
	}
	@include responsive(320) {
		margin-top: 36px;
	}
}

#language-catchphrase {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 16px;
	white-space: nowrap;

	@include responsive(1100) {
		font-size: 14px;
		margin-bottom: 12px;
	}
	@include responsive(320) {
		font-size: 12px;
		margin-bottom: 12px;
	}
}

.btn-language {
	width: 87px;
	height: 22px;
	margin-left: 12px;
	transform: translateY(2px);
	display: flex;
	flex-flow: row nowrap;
	border-bottom: 2px rgba(0, 0, 0, 0.8) solid;
	justify-content: space-between;
	align-items: flex-end;
	z-index: 99;
	@include responsive(1100) {
		font-size: 14px;
	}
	@include responsive(500) {
		font-size: 13px;
		width: 72px;
	}
	@include responsive(320) {
		font-size: 10px;
		width: 65px;
		transform: translateY(-2px);
	}
	img {
		width: 8px;
		height: auto;
		margin-bottom: 4px;
		z-index: 99;
	}
	&:hover {
		border-bottom: none;
		height: auto;
		z-index: 99;
		& img {
			transform: rotate(90deg);
			width: 8px;
			margin-top: 4px;
		}
	}
}

.language-selection {
	width: 120px;
	display: flex;
	color: hsla(300, 4%, 89%, 0.8);
	position: fixed;
	top: -1px;
	left: 12px;
	display: flex;
	flex-direction: column;
	background-color: none;
	z-index: -1;
	@include responsive(500) {
		font-size: 13px;
		width: 90px;
	}
	@include responsive(320) {
		font-size: 12px;
		width: 90px;
	}
	& a {
		display: none;
	}
	&:hover,
	:active {
		z-index: 9;
		display: flex;
		color: black;
		position: fixed;
		flex-direction: column;
		background-color: rgba(255, 255, 255, 0.9);
		&:hover {
			font-weight: 500;
			top: 0px;
			left: 12px;
		}
		& a,
		a:active,
		a:hover {
			display: flex;
			z-index: 99;
			font-size: 15px;
			font-weight: 400;
			margin-left: 6px;
			margin-bottom: 17px;
			z-index: 99;
			top: 0px;
			left: 12px;
			@include responsive(1100) {
				margin-bottom: 12px;
			}
			@include responsive(320) {
				font-size: 12px;
			}
		}
	}
}

.language-selection :first-child {
	display: block;
	color: black;
	background-color: none;
	font-size: 15px;
	@include responsive(500) {
		font-size: 13px;
	}
	@include responsive(320) {
		font-size: 12px;
	}
}

.central-buttons {
	width: 260px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: start;
	margin-top: 36px;
	@include responsive(1100) {
		margin-top: 12px;
		width: 250px;
	}
	@include responsive(320) {
		font-size: 12px;
		width: 240px;
	}
}
