.btn-big {
	width: 120px;
	height: 40px;
	color: black;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 400;
	text-decoration: inherit;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	z-index: 1;
	@include responsive(500) {
		font-size: 14px;
	}
	@include responsive(370) {
		font-size: 12px;
	}
}

.btn-small {
	width: 84px;
	height: 28px;
	background-color: none;
	border: 2px hsla(0, 0%, 0%, 0.8) solid;
	color: black;
	border-radius: 5px;
	font-size: 12px;
	font-weight: 400;
	text-decoration: inherit;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	z-index: 1;
	margin: auto;
	@include responsive(500) {
		font-size: 14px;
	}
	@include responsive(370) {
		font-size: 12px;
	}
}

.btn-red {
	background-color: none;
	border-color: black;
	&:hover {
		background-color: #ff2929;
		color: white;
		border: 2px rgb(255, 255, 255) solid;
	}
}

.btn-yellow {
	background-color: #ffef29;
	border: 2px #ffef29 solid;
	&:hover {
		background-color: black;
		color: white;
		border: 2px rgb(255, 255, 255) solid;
	}
}

.btn-nocolor {
	background-color: none;
	border: 2px hsla(300, 4%, 89%, 0.18) solid;
	&:hover {
		background-color: black;
		color: white;
		border: 2px rgb(255, 255, 255) solid;
	}
}

.btn-blackBack {
	background-color: none;
	border: 1px white solid;
	color: white;

	&:hover {
		background-color: white;
		color: black;
		border: 2px rgb(255, 255, 255) solid;
	}
	& button {
		font-size: 10px;
	}
}


.btn-padding {

	margin: 36px 24px 24px 0px;

}

.btn-zone {
	display: flex;
	flex-flow: row nowrap;
	margin-top: 36px;

}


.button-test {
	width: 120px;
	height: 40px;
	background-color: #ffef29;
	border: 2px #ffef29 solid;
	color: black;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 400;
	text-decoration: inherit;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	z-index: 1;
	@include responsive(1100) {
		font-size: 14px;
	}
	@include responsive(500) {
		font-size: 13px;
		transform: scale(0.9);
	}
	@include responsive(320) {
		font-size: 13px;
		transform: scale(0.8);
	}
	&:hover {
		background-color: black;
		color: white;
		border: 2px rgb(255, 255, 255) solid;
	}
}


.btn-start {
	width: 120px;
	height: 40px;
	margin-top: 24px;
	margin-bottom: 42px;
	background-color: #ffef29;
	border: 2px #ffef29 solid;
	color: black;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 400;
	text-decoration: inherit;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	z-index: 1;
	@include responsive(700) {
		font-size: 15px;
	}
	@include responsive(500) {
		font-size: 14px;
	}
	@include responsive(370) {
		font-size: 12px;
	}
	&:hover {
		background-color: black;
		color: white;
		border: 2px rgb(255, 255, 255) solid;
	}
}



.button-practice {
	width: 120px;
	height: 40px;
	border: 2px black solid;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 400;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	color: inherit;
	text-decoration: inherit;
	@include responsive(1100) {
		font-size: 14px;
	}
	@include responsive(500) {
		font-size: 13px;
		transform: scale(0.9);
	}
	@include responsive(320) {
		font-size: 13px;
		transform: scale(0.8);
	}
	&:hover {
		background-color: black;
		color: white;
		border: 2px rgb(255, 255, 255) solid;
	}
}


.button-signup {
	width: 120px;
	height: 40px;
	border: 2px black solid;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 400;
	margin-left: 36px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	@include responsive(1100) {
		font-size: 14px;
	}
	@include responsive(900) {
		font-size: 18px;
		margin-bottom: 0;
		margin-left: 0;
		width: 100px;
		height: auto;
		white-space: normal;
		border: none;
	}
	@include responsive(320) {
		font-size: 14px;
		width: 60px;
	}
	&:hover {
		background-color: #000000;
		color: white;
		border: 2px rgb(255, 255, 255) solid;
		@include responsive(900) {
			background-color: white;
			color: black;
			padding-top: 2px;
			width: 70px;
			border-bottom: 2px black solid;
			border-radius: 0;
		}
		@include responsive(320) {
			width: 60px;
		}
	}
}



.button-logout {
	width: 120px;
	height: 40px;
	border: 2px rgb(255, 255, 255) solid;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 400;
	margin-left: 36px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	color: white;
	@include responsive(1100) {
		font-size: 14px;
	}
	@include responsive(900) {
		font-size: 18px;
		margin-bottom: 0;
		margin-left: 0;
		width: 100px;
		height: auto;
		white-space: normal;
		border: none;
	}
	@include responsive(320) {
		font-size: 14px;
		width: 60px;
	}
	&:hover {
		background-color: #ffffff;
		color: black;
		// border: 2px rgb(255, 255, 255) solid;
		@include responsive(900) {
			padding-top: 2px;
			width: 70px;
			border-bottom: 2px black solid;
			border-radius: 0;
		}
		@include responsive(320) {
			width: 60px;
		}
	}
}