.btn-big {
	width: 120px;
	height: 40px;
	color: black;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 400;
	text-decoration: inherit;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	z-index: 1;
	@include responsive(500) {
		font-size: 14px;
	}
	@include responsive(370) {
		font-size: 12px;
	}
}

.btn-small {
	width: 84px;
	height: 28px;
	background-color: none;
	border: 2px hsla(0, 0%, 0%, 0.8) solid;
	color: black;
	border-radius: 5px;
	font-size: 12px;
	font-weight: 400;
	text-decoration: inherit;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	z-index: 1;
	@include responsive(500) {
		font-size: 14px;
	}
	@include responsive(370) {
		font-size: 12px;
	}
}

.btn-red {
	background-color: none;
	border-color: black;
	&:hover {
		background-color: #ff2929;
		color: white;
		border: 2px rgb(255, 255, 255) solid;
	}
}

.btn-yellow {
	background-color: #ffef29;
	border: 2px #ffef29 solid;
	&:hover {
		background-color: black;
		color: white;
		border: 2px rgb(255, 255, 255) solid;
	}
}

.btn-nocolor {
	background-color: none;
	border: 2px hsla(300, 4%, 89%, 0.18) solid;
	&:hover {
		background-color: black;
		color: white;
		border: 2px rgb(255, 255, 255) solid;
	}
}

.btn-padding {

	margin: 36px 24px 24px 0px;

}

.btn-zone {
	display: flex;
	flex-flow: row nowrap;
	margin-top: 36px;

}